# Credenciales de API
ADMIN_USER=tu_usuario_admin@ejemplo.com
ADMIN_PASS=tu_contraseña_admin

# Configuración de la API
BASE_URL=https://cf-automation-airline-api.onrender.com

# Configuración de pruebas
ENVIRONMENT=test
DEBUG=False

# Tiempo máximo de espera para requests (en segundos)
REQUEST_TIMEOUT=30
